<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<ul>
  <% @students.each do |student| %>
    <li><%= link_to student.name, student %></li>
    <ul>
      <% student.subjects.each do |subject| %>
        <li><%= link_to subject.name, subject %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

<%= link_to "New student", new_student_path %>
