<p style="color: green"><%= notice %></p>

<h1>Subjects</h1>

<ul>
  <% @subjects.each do |subject| %>
    <li><%= link_to subject.name, subject %></li>
    <ul>
      <% subject.students.each do |student| %>
        <li><%= link_to student.name, student %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

<%= link_to "New subject", new_subject_path %>
