<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= teacher.department %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= teacher.unit %>
  </p>

</div>
