<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= teacher.department %>
  </p>

  <p>
    <strong>Per unit rate:</strong>
    <%= teacher.per_unit_rate %>
  </p>

</div>
