<p style="color: green"><%= notice %></p>

<h1>Teachers</h1>

<ul>
  <% @teachers.each do |teacher| %>
    <li><%= link_to teacher.name, teacher %></li>
    <ul>
      <% teacher.subjects.each do |subject| %>
        <li><%= link_to subject.name, subject %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

<%= link_to "New teacher", new_teacher_path %>
