<p style="color: green"><%= notice %></p>

<h1><%= @teacher.name %></h1>

<h2>Subjects:</h2>
<ul>
  <% @subjects.each do |subject| %>
    <li><%= link_to subject.name, subject %></li>
  <% end %>
</ul>
