<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<ul>
  <% @courses.each do |section| %>
    <li><%= link_to course.name, course %></li>
    <ul>
      <li>Student: <%= link_to course.student.name, course.student %></li>
    </ul>
  <% end %>
</ul>


<%= link_to "New course", new_course_path %>
